<div class="row">
  <div class="col-sm-3">
    <form>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
          <input
            type="text"
            class="form-control"
            name="searchString"
            placeholder="Search..."
            [(ngModel)]="searchString"
            (ngModelChange)="search($event)">
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-1" *ngIf="writeRole">
      <button class="btn btn-default btn-primary" routerLink='/software/create'>Create</button>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-12 col-md-12 col-lg-12">
    <p>Results: {{ pageTotalCount }}</p>
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th *ngIf="readRole">ID</th>
            <th>Software Name</th>
            <th>Vendor</th>
            <th>Reasoning</th>
            <th>Timestamp</th>
            <th *ngIf="readRole">Created By</th>
            <th *ngIf="writeRole"></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th *ngIf="readRole">ID</th>
            <th>Software Name</th>
            <th>Vendor</th>
            <th>Reasoning</th>
            <th>Timestamp</th>
            <th *ngIf="readRole">Created By</th>
            <th *ngIf="writeRole"></th>
          </tr>
        </tfoot>
        <tbody>
          <tr list-item
            *ngFor="let entry of approvedSoftware; let i = index"
            [entry]="entry"
            [index]="i"></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<nav class="text-center">
  <ul class="pagination">
    <li
      *ngFor="let page of paginationPages; let i = index"
      routerLinkActive="active"
      [routerLink]="['/software/approved']"
      [queryParams]="{page: i}">
    <a
      type="button"
      (click)="setPage(i)">{{ page }}</a>
    </li>
  </ul>
</nav>