span.hint {
    color: #bbb7b7;
    font-weight: 300;
    font-size: 1.2rem;
    margin-left: 0.2rem;
}

th {
    font-size: 1.4rem;
}

a[type="button"] {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}