<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection"
      connectionString="server=SQL-obv;database=YOUR_DB;user id=YOUR_USER;password=YOUR_PASS"
      providerName="System.Data.SqlClient"
      xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="WebApiEndPoint"
         value="http://applockerlog.domain.dk/api"
         xdt:Transform="SetAttributes(value)"
         xdt:Locator="Match(key)" />
    <add key="DefaultPage"
         value="http://applockerlog.domain.dk"
         xdt:Transform="SetAttributes(value)"
         xdt:Locator="Match(key)" />
  </appSettings>

  <system.web>
  </system.web>
</configuration>
